<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col">
      <a class="footer-link"
         routerLink="/ranking"
         routerLinkActive="nav-link-active"
         aria-disabled="true"
         href="#">
        <ion-icon name="trophy-outline"></ion-icon>
      </a>
    </div>
    <div class="col">
      <a class="footer-link"
         routerLink="/time"
         routerLinkActive="nav-link-active"
         aria-disabled="true"
         href="#">
        <ion-icon name="people-outline"></ion-icon>
      </a>
    </div>
    <div class="col">
      <a class="footer-link mission"
         routerLink="/missoes"
         routerLinkActive="nav-link-active"
         aria-disabled="true"
         href="#">
        <ion-icon name="rocket-outline"></ion-icon>
      </a>
    </div>
    <div class="col">
      <a class="footer-link"
         routerLink="/time"
         routerLinkActive="nav-link-active"
         aria-disabled="true"
         href="#">
        <ion-icon name="storefront-outline"></ion-icon>
      </a>
    </div>
    <div class="col">
      <a class="footer-link"
         routerLink="/time"
         routerLinkActive="nav-link-active"
         aria-disabled="true"
         href="#">
        <ion-icon name="ribbon-outline"></ion-icon>
      </a>
    </div>
  </div>
  </div>
</div>
