<ion-content>
  <main>
    <img src="../../../assets/ic-grifinoria.svg"
         loading="lazy"
         width="360"
         height="221"
         class="img-sanitize img-cover-width"
         alt="Grifinória">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="mt-n8 mb-2 ion-text-center">
      <div class="container">
        <div class="mb-1">
          <div class="row ion-justify-content-center">
            <div class="col-7">
              <div class="position-relative mb-0hq">
                <circle-progress [percent]="35"></circle-progress>
                <div class="img-avatar-position">
                  <div class="row ion-justify-content-center">
                    <div class="col-9">
                      <img src="../../../assets/img-user.jpg"
                           srcset="../../../assets/img-user.jpg, ../../../assets/img-user@2x.jpg 2x"
                           loading="lazy"
                           class="img-avatar"
                           alt="Grifinória">
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="mb-0">
                Milena Ramiro
              </h1>
              <span class="user-category text-dark">
                nutela
              </span>
            </div>
          </div>
        </div>
        <div class="row ion-justify-content-center">
          <div class="col-5">
            <div class="user-tags">
              grifinória
            </div>
          </div>
          <div class="col-5">
            <div class="user-tags">
              backend
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-6">
            <h2 class="user-rank-title">
              seu ranking
            </h2>
            <span class="user-rank-position">
              1º
            </span>
          </div>
          <div class="col-6">
            <h2>
              suas conquistas
            </h2>
            <span class="user-rank-position">
              2
            </span>
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/ic-shape.svg"
         loading="lazy"
         width="360"
         height="49"
         class="img-cover-width"
         alt="Grifinória">
    <div class="achievements">
      <div class="container">
        <h2 class="mb-1">
          conquistas
        </h2>
        <div class="row">
          <div class="col-auto" *ngFor="let achievement of achievements">
            <app-slider-achievements [achievement]="achievement"></app-slider-achievements>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
