<ion-content *ngIf="(user$ | async) as user" class="{{ user.time?.titulo }}">
  <app-header></app-header>
  <main class="position-relative">
    <img src="/assets/ic-{{ user.time?.titulo }}.svg"
         loading="lazy"
         width="360"
         height="221"
         class="img-sanitize img-cover-width"
         alt="{{ user.time?.icone }}">
  
    <section class="mt-n8 mb-2 ion-text-center">
      <div class="container">
        <div class="mb-1">
          <div class="row ion-justify-content-center">
            <div class="col-7">
              <div class="position-relative mb-0hq">
                <circle-progress [outerStrokeColor]="user.time?.corHexa" [percent]="user.pontuacao"></circle-progress>
                <div class="img-avatar-position">
                  <div class="row ion-justify-content-center">
                    <div class="col-9">
                      <img src="/assets/img-user.jpg"
                           srcset="/assets/img-user.jpg, /assets/img-user@2x.jpg 2x"
                           loading="lazy"
                           class="img-avatar"
                           alt="Grifinória">
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="mb-0">
                {{ user.nome }}
              </h1>
              <span class="user-category text-dark">
                {{ user.nivel }}
              </span>
            </div>
          </div>
        </div>
        <div class="row ion-justify-content-center">
          <div class="col-5">
            <div class="user-tags">
              {{ user.time?.titulo }}
            </div>
          </div>
          <div class="col-5">
            <div class="user-tags">
              {{ user.profissao }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-6">
            <h2 class="user-rank-title">
              seu ranking
            </h2>
            <span class="user-rank-position">
              {{ user.ranking }}
            </span>
          </div>
          <div class="col-6">
            <h2>
              suas conquistas
            </h2>
            <span class="user-rank-position">
              {{ user.conquistas?.length }}
            </span>
          </div>
        </div>
      </div>
    </section>
    <img src="/assets/ic-shape.svg"
         loading="lazy"
         width="360"
         height="49"
         class="img-cover-width"
         alt="Grifinória">
    <section class="achievements">
      <div class="container">
        <h2 class="mb-1">
          conquistas
        </h2>
        <div class="row">
          <div class="col-auto" *ngFor="let conquista of user.conquistas">
            <app-slider-achievements [conquista]="conquista" ></app-slider-achievements>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</ion-content>
