@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.fw-regular {

  font-weight: var(--font-weight-regular, 400);
}

.fw-medium {

  font-weight: var(--font-weight-medium, 500);
}

.fw-bold {

  font-weight: var(--font-weight-bold, 700);
}

