.fill-color {
  fill: var(--ion-color-secondary);

  svg {
    max-width: 100%;
  }
}

.card-mission {
  display: block;
  margin-bottom: 1.25rem;
  padding: 1rem;
  background: white;
  color: var(--ion-color-dark);
  border-radius: 20px;

  &-name {
    text-transform: uppercase;
  }
}

.completed {

  .card-mission {
    opacity: .6;

    ion-badge {

      display: none;
    }
  }
}