<ion-split-pane contentId="main">
  <!--  the side menu  -->
  <ion-menu side="start"
            content-id="main">
    <ion-content>
      <ul class="navbar-nav"
          part="menu-container">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/home"
             routerLinkActive="nav-link-active"
             aria-current="page"
             href="#">
            Home
            <ion-icon name="footsteps"></ion-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/ranking"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Ranking
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/time"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Grifinória
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/missoes"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Missões
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/conquistas"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Conquistas
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/recompensas"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Recompensas
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             routerLink="/configuracoes"
             routerLinkActive="nav-link-active"
             aria-disabled="true"
             href="#">
            Configurações
            <ion-icon name="footsteps"></ion-icon>
          </a>
          <ion-badge color="dark"
                     slot="end">EM BREVE
          </ion-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#">
            Sair
          </a>
        </li>
      </ul>
    </ion-content>
  </ion-menu>
  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
