ion {

  &-content {

    &::part(background) {

      background: -webkit-image-set(url("../../../assets/bg-menu.png") 1x, url("../../../assets/bg-menu@2x.png") 2x) no-repeat;
      background-size: cover;
    }
  }

  &-icon {

    display: none;
  }
}

.nav {

  &bar-nav {

    height: 100%;
    padding: 5rem 1.75rem;

    &:before {

      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: var(--ion-color-secondary);
      opacity: .90;
    }
  }

  &-item {

    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link-active {

    color: var(--ion-color-tertiary);

    ion-icon {

      display: inline-block;
      font-size: 22px;
      vertical-align: sub;
      margin-left: .5rem;
    }
  }
}