ion {

  &-content::part(background) {

    background: -webkit-image-set(url("../../../assets/bg-menu.png") 1x, url("../../../assets/bg-menu@2x.png") 2x) var(--ion-color-primary) no-repeat;
    background-size: cover;
  }

  &-icon {

    display: none;
  }
}

.nav {

  &bar-nav {

    padding: 5rem 1.75rem;
  }

  &-item {

    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link-active {

    color: var(--ion-color-tertiary);

    ion-icon {

      display: inline-block;
      font-size: 22px;
      vertical-align: sub;
      margin-left: .5rem;
    }
  }
}